%h1 sign in

- if @form.errors.messages.present?
  %ul
    - @form.errors.full_messages.each do |msg|
      %li= msg

= form_for @form, url: session_path do |form|
  %div
    = form.label :email
    = form.email_field :email
  %div
    = form.label :password
    = form.password_field :password
  %div
    = form.submit "Sign in"
